<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js" defer></script>
    <title>Skeleton Loading</title>
</head>
<body>

    <main>
        <div class="card loading">

            <div class="img"><img width="200" height="300" src="" alt=""></div>

            <strong>Lorem Ipsum</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dicta a neque hic dolore ut optio laborum, in commodi, quaerat perferendis nemo. Molestiae tempore mollitia veritatis id. Ab, numquam rem!</p>
        </div>
        <div class="card loading">

            <div class="img"><img width="200" height="300" src="" alt=""></div>

            <strong>Lorem Ipsum</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dicta a neque hic dolore ut optio laborum, in commodi, quaerat perferendis nemo. Molestiae tempore mollitia veritatis id. Ab, numquam rem!</p>
        </div>
        
    </main>
    
</body>
</html>